body {
  font-size: 12px;
  line-height: 21px;
  font-family: "Lato", "Arial", sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Maven Pro", "Tahoma", sans-serif;
}

h2 {
  font-size: 18px;
  line-height: 21px;
  font-family: "Maven Pro", "Tahoma", sans-serif;
}

* {
  /*outline: 1px solid green;*/
}

.main-wrap {
  width: 1020px;
  margin: auto;
}

header {
  position: relative;
  background-color: #323230;
  color: #ffffff;
}

header::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 420px;
  content: "";
  width: 180px;
  height: 89px;
  background: url("../img/sprite.png") -385px -653px;
}

header nav {
  margin: auto;
  text-align: center;
  line-height: 12px;
}

header ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  padding-top: 26px;
  padding-bottom: 25px;
}

nav li:nth-child(2) {
  margin-right: 140px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  font-size: 10px;
  font-family: "Lato";
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

nav .active {
  color: #2eb398;
}

nav a:hover {
  color: #2eb398;
}

nav a:active {
  opacity: 0.6;
}

nav::before {
  position: absolute;
  top: 74px;
  left: 30px;
  content: "";
  width: 410px;
  height: 1px;
  background-color: #ededed;
}

nav::after {
  position: absolute;
  top: 74px;
  right: 30px;
  content: "";
  width: 410px;
  height: 1px;
  background-color: #ededed;
}

.logo {
  position: absolute;
  top: 11px;
  left: 478px;
}

.logo img {
  display: block;
}

.portfolio {
  position: relative;
  padding-top: 142px;
}

.portfolio::after {
  position: absolute;
  left: 30px;
  bottom: 11px;
  content: "";
  width: 960px;
  height: 1px;
  background-color: #ededed;
}

.row {
  position: relative;
  margin-left: 100px;
}

.row::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 104px;
  background-color: #ededed;
}

.row::after {
  position: absolute;
  right: 100px;
  content: "";
  width: 1px;
  height: 104px;
  background-color: #ededed;
}

.last-row {
  margin-bottom: 60px;
}

.hex {
  display: inline-block;
  vertical-align: top;
  margin-top: -52px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 180px;
  height: 208px;
  overflow: hidden;
}

.hex-one,
.hex-two {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
}

.hex-img-1::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -212px -5px;
  transform: rotate(120deg);
  filter: sepia(50%);
}

.hex-img-2::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -5px -437px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-3::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -195px -437px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-4::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -385px -437px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-5::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -592px -5px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-6::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -575px -221px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-7::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -575px -437px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-8::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -5px -653px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-9::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -195px -653px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-10::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -402px -5px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-11::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -5px -221px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-12::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -195px -221px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-13::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 206px;
  background-color: #bfbfbf;
  background: url("../img/sprite.png") -385px -221px;
  transform: rotate(120deg);
  filter: sepia(60%);
}

.hex-img-1:hover::before,
.hex-img-2:hover::before,
.hex-img-3:hover::before,
.hex-img-4:hover::before,
.hex-img-5:hover::before,
.hex-img-6:hover::before,
.hex-img-7:hover::before,
.hex-img-8:hover::before,
.hex-img-9:hover::before,
.hex-img-10:hover::before,
.hex-img-11:hover::before,
.hex-img-12:hover::before,
.hex-img-13:hover::before {
  filter: sepia(0%);
  transition: ease-in 0.3s;
}

.hex img {
  transform: rotate(120deg);
}

.toggle {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 23px;
  padding: 0;
  line-height: 6px;
  list-style-type: none;
}

.toggle li {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.toggle a {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  background-color: #ddd2c5;
}

.toggle li:last-child {
  margin-right: 0;
}

.toggle .active {
  background-color: #8b8784;
}

.toggle a:hover {
  background-color: #8b8784;
}

.toggle a:active {
  opacity: 0.6;
}

.about {
  padding-top: 13px;
  padding-bottom: 12px;
  background-color: #2eb398;
}

.about-wrap {
  margin: auto;
  padding-top: 55px;
  width: 822px;
  border-left: 1px solid #219d84;
  border-right: 1px solid #219d84;
}

.about .hex {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
}

.about .hex-img-1::before {  /* если изображение через img не загрузится*/
  filter: sepia(0);
}

.about .hex-img-1:hover::before {  /* если изображение через img не загрузится*/
  transition: 0s;
}

.description {
  display: inline-block;
  vertical-align: top;
  width: 580px;
}

.description h1,
.description h2 {
  margin: 0;
}

.description p {
  margin-bottom: 37px;
  text-align: justify;
}

.social {
  text-align: right;
  margin: 0;
  margin-bottom: 67px;
  padding: 0;
  list-style-type: none;
}

.social li {
  display: inline-block;
  vertical-align: top;

}

.social a:hover {
  opacity: 0.6;
}

.social a:active {
  opacity: 0.3;
}

.social-box {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 24px;
}

 .fb {
  background: url("../img/sprite.png") -39px -5px;
}

.tw {
  width: 24px;
  background: url("../img/sprite.png") -178px -5px  ;
}

.gg {
  background: url("../img/sprite.png") -74px -5px;
}

.pi {
  width: 24px;
  background: url("../img/sprite.png") -144px -5px;
}

.li {
  background: url("../img/sprite.png") -109px -5px;
}

.dr {
  background: url("../img/sprite.png") -5px -5px;
}

footer {
  padding-top: 13px;
  background-color: #323230;
  color: #e0e0e0;
}

.footer-wrap {
  margin: auto;
  margin-bottom: 11px;
  padding-top: 53px;
  padding-left: 90px;
  padding-bottom: 53px;
  padding-right: 90px;
  width: 960px;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  box-sizing: border-box;
}

.footer-wrap h1 {
  margin: 0;
  line-height: 36px;
}

.footer-wrap h2 {
  margin: 0;
  margin-bottom: 20px;
}

form {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

form input {
  display: block;
  margin-bottom: 16px;
  padding: 14px;
  width: 584px;
  height: 38px;
  font-family: inherit;
  color: #e0e0e0;
  background-color: #454545;
  border: none;
  box-sizing: border-box;
}

textarea {
  margin-bottom: 16px;
  width: 584px;
  height: 150px;
  padding: 14px;
  font-family: inherit;
  color: #e0e0e0;
  background-color: #454545;
  border: none;
  box-sizing: border-box;
}

form input:hover,
form textarea:hover {
  background-color: #45454f;
}

form button {
  float: right;
  padding-top: 13px;
  padding-right: 30px;
  padding-bottom: 13px;
  padding-left: 30px;
  font-family: "Lato";
  font-weight: 700;
  line-height: 12px;
  color: #d7fcf5;
  background-color: #2eb398;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
}

form button:hover {
  color: #031314;
  background-color: #20bfcf;
  cursor: pointer;
}

form button:active {
  opacity: 0.6;
}

.contacts {
  display: inline-block;
  vertical-align: top;
  width: 176px;
}

.contacts p {
  margin: 0;
  margin-bottom: 44px;
  text-align: justify;
}

.contacts a {
  position: relative;
  display: block;
  padding-left: 25px;
  color: #e0e0e0;
  text-decoration: none;
}

.contacts a:hover {
  color: #2eb398;
}

.contacts a:active {
  opacity: 0.6;
}

.contacts .location::before {
  position: absolute;
  top: 5px;
  left: 3px;
  content: "";
  width: 7px;
  height: 11px;
  background: url("../img/sprite.png") -782px -5px;
}

.contacts .tel::before {
  position: absolute;
  top: 5px;
  left: 1px;
  content: "";
  width: 11px;
  height: 11px;
  background: url("../img/sprite.png") -822px -5px;
}

.contacts .mail::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "";
  width: 13px;
  height: 8px;
  background: url("../img/sprite.png") -799px -5px;
}

.copyright {
  padding-top: 11px;
  padding-left: 40px;
  padding-bottom: 11px;
  background-color: #222222;
  color: #3e3e3e;
}

.copyright a {
  color: #3e3e3e;
  text-decoration: none;
}

.copyright a:hover {
  color: #2eb398;
}

.copyright a:active {
  opacity: 0.6;
}
